<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.order.mapper.OrderInfoMapper">

    <resultMap id="orderResultMap" type="com.atguigu.tingshu.model.order.OrderInfo" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="orderDetailList" ofType="com.atguigu.tingshu.model.order.OrderDetail" autoMapping="true">
            <id column="order_detail_id" property="id"></id>
        </collection>
    </resultMap>

    <select id="findUserPage-test" resultMap="orderResultMap">
        SELECT
            oi.id,
            oi.order_no,
            oi.order_amount,
            oi.original_amount,
            oi.derate_amount,
            oi.order_status,
            oi.pay_way,
            od.id order_detail_id,
            od.item_id,
            od.item_name,
            od.item_url,
            od.item_price
        from order_info oi INNER JOIN order_detail od
                                      on od.order_id = oi.id and od.is_deleted = 0
        where oi.user_id = #{userId} and oi.is_deleted = 0
        order by oi.create_time desc
    </select>


    <resultMap id="orderInfoResultMap" type="com.atguigu.tingshu.model.order.OrderInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <!--订单明细列表 select指定查询ID(查询订单明细)-->
        <collection property="orderDetailList" column="id" select="getOrderDetailById"></collection>
    </resultMap>

    <!--根据订单ID查询订单明细列表-->
    <select id="getOrderDetailById" resultType="com.atguigu.tingshu.model.order.OrderDetail">
        select id,item_id,item_name,item_price,item_url from order_detail where order_id = #{id}
    </select>


    <!--分页查询订单列表-->
    <select id="findUserPage" resultMap="orderInfoResultMap">
        select oi.id,
               oi.order_no,
               oi.order_status,
               oi.original_amount,
               oi.derate_amount,
               oi.order_amount,
               oi.pay_way
        from order_info oi
        where user_id = #{userId}
          and oi.is_deleted = 0
        order by oi.id desc
    </select>
</mapper>

